.modal_wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 122;
}

.modal_bg {
  background: rgba(14, 14, 15, 0.32);
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.modal_wrapper_content {
  background: #fff;
  border-radius: 8px;
  margin: 32px;
  overflow: hidden;
  padding: 32px;
  position: relative;
  width: 415px;
}

.modal_header {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.exit_btn {
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.sign_in_wrapper {
  margin: 28px auto 0;
  width: 350px;
}
.sign_in_title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 30px;
}

.sign_in_des {
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
}
.input_wrapper_sign {
  background-color: hsla(220, 4%, 48%, 0.05);
  border-radius: 12px;
  color: #141415;
  display: flex;
  margin-top: 32px;
  align-items: center;
  padding: 0 16px;
  font-size: 20px;
  font-weight: 400;

  line-height: 100%;
}
.number_before {
  margin-right: 2px;
}

.sign_in_wrapper input {
  border-radius: 12px;
  color: #141415;
  display: flex;
  height: 40px;
  height: 52px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.15s ease-in-out;
  border: none;
  width: 100%;
  outline: none;

  background: transparent;
}

.sign_in_wrapper_btn {
  height: 52px;
  margin-top: 24px;
  width: 100%;
  background: #7000ff;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: "Inter", sans-serif;
  border-radius: 12px;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.004em;
  line-height: 20px;

  text-align: center;
}

.security_login {
  margin-top: 100px;
}
.security_login p {
  font-size: 14px;
  line-height: 18px;
  margin-top: 28px;
  text-align: center;
}

.security_login span {
  cursor: pointer;
  color: #0070e0;
}
.from_bottom_anim {
  transform: translateY(20%);
  opacity: 0;
  animation: from_bottom 0.5s forwards;
}

@keyframes from_bottom {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.from_top_anim {
  transform: translateY(0);
  opacity: 0;
  animation: from_top 0.3s forwards;
}

@keyframes from_top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20%);
    opacity: 0;
  }
}
