.scroll_to_top .scroll-to-top {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background: #2caadd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.scroll_to_top svg * {
  fill: #fff;
}

.scroll_to_top .scroll-to-top {
  transform: translateY(20%);
  opacity: 0;
  animation: from_bottom 0.5s forwards;
}

@keyframes from_bottom {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
